<div class="max-w-sm rounded overflow-hidden shadow-lg mb-6 bg-gray-800" >
  <a href=""><img class="w-full" src="./images/1b.PNG" alt="Sunset in the mountains"></a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2  text-gray-100">The Coldest Sunset</div>
    <p class="text-gray-100 text-base ">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
  </div>
  <div class="px-6 py-4">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Piel</span>
    <span class="inline-block bg-gray-200 0-full px-3 py-1 text-sm font-semibold text-gray-700 rounded-full">#Derma</span>
  </div>
</div>

<div class="max-w-sm rounded overflow-hidden shadow-lg mb-6 bg-gray-800">
  <a href=""><img class="w-full" src="./images/VW Styling TOTEM3.jpg" alt="Sunset in the mountains"></a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2  text-gray-100">The Coldest Sunset</div>
    <p class="text-gray-100 text-base text-gray-100">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
  </div>
  <div class="px-6 py-4">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Glauco</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Especialidades</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Oftalmo</span>
  </div>
</div>

<div class="max-w-sm rounded overflow-hidden shadow-lg mb-6 bg-gray-800">
  <a href=""><img class="w-full" src="./images/STAND2.png" alt="Sunset in the mountains"></a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2  text-gray-100">The Coldest Sunset</div>
    <p class="text-gray-100 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
  </div>
  <div class="px-6 py-4">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Simposio</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Edema</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Cardio</span>
  </div>
</div>

<div class="max-w-sm rounded overflow-hidden shadow-lg mb-6 bg-gray-800">
  <a href=""><img class="w-full" src="/images/3b.PNG" alt="Sunset in the mountains"></a>
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2  text-gray-100">The Coldest Sunset</div>
    <p class="text-gray-100 text-base">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
    </p>
  </div>
  <div class="px-6 py-4">
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#Epidemiología</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#General</span>
    <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#Simposio</span>
  </div>
</div>