<div class="gral_container  w-full">
<img src="./images/1a.JPG" alt="Hola" class="w-full " />
  <iframe width="560" height="315" src="https://www.youtube.com/embed/k9Sn2CYD6xQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>


  <div class="flex items-center justify-between flex-wrap  p-6"/>
  {{>gallery}}
  </div>

  <div class="flex items-center justify-center  p-10"/>
  {{>modal}}
  </div>